
        /* Estilo para el contenedor del checkbox */
    .checkbox-container, .gender-container {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding: 0;
        margin: 0;
    }

    /* Escondemos el checkbox original */
    .checkbox-container input, .hidden-gender-checkbox {
        opacity: 0;
        position: absolute;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* El círculo del checkbox */
    .checkmark, .gender-checkmark {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: red;
        display: inline-block;
        border: 2px solid #ccc;
        transition: background-color 0.3s;
    }

    /* Estilo cuando el checkbox está seleccionado */
    .checkbox-container input:checked ~ .checkmark {
        background-color: green;
        border-color: green;
    }

    /* Estilo para los checkboxes de género */
    .gender-checkmark {
        margin-right: 5px;
    }

    .gender-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Espacio entre los checkboxes de género */
    }

    /* Distribución de los géneros */
    .gender-container:nth-child(1) {
        margin-right: auto; /* Género a la izquierda */
    }

    .gender-container:nth-child(2) {
        margin: 0 auto; /* Género en el centro */
    }

    .gender-container:nth-child(3) {
        margin-left: auto; /* Género a la derecha */
    }

    /* Estilo para el checkbox de género */
    .gender-container .gender-checkmark {
        background-color: red;
        border-color: #ccc;
    }

    .gender-container input:checked + .gender-checkmark {
        background-color: green;
        border-color: green;
    }

